# Hygraph (GraphCMS) GraphQL API endpoint
BLOG_URL=https://api-region.hygraph.com/v2/your-project-id/master

# Disqus comment section shortname (defaults to 'paulimoke' if not set)
DISQUS_SHORTNAME=paulimoke
